.contenedor {
  background-color: bisque;
  border: 2px;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.item1 {
  border: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  width: 150px;
  height: 150px;
}

.item2 {
  border: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  color: white;
  width: 150px;
  height: 150px;
}

.item3 {
  border: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  color: white;
  width: 150px;
  height: 150px;
}
